@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #08080f;
  --foreground: #d0d0f0;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
}
